/*
spoofing-project

index.css
Author's: Ryan Burkhart, Annette Segura, Emmanuel Cortes 
Date: 10-3-18

Filename: attacks.css
*/


p {
    font-family: 'Muli', sans-serif;
    font-size: 1.25em;
    padding-right: 15px;
}


html {
    background-color: rgb(73, 13, 85);
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Bai Jamjuree', sans-serif;
    padding-left: 30px;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: tan;
}

nav ul li {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 10px;
}

li>a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    padding: 0px 0px
}

li a:hover {
    color: purple;
}

nav {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

aside img {
    float: left;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 230px}


footer {
    background-color: tan;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Roboto Slab';
}

ol li {
    list-style: disc;
    font-family: 'Roboto Slab';    
}

h3 {
    font-size: 1.5em;
}

#list {
    list-style: circle;
    font-size: 1.05em;
}

#img2 {
    float: right;
}