/*
spoofing-project

Main.css
Author's: Ryan Burkhart, Annette Segura, Emmanuel Cortes 
Date: 10-3-18

Filename: Main.css
*/

p {
    font-family: 'Muli', sans-serif;
}

html {
    background-color: rgb(73, 13, 85);
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 95px;
    font-family: 'Roboto Slab', serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: tan;
}

ul li {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 10px;
}

nav>ul>li>a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    padding: 0px 0px;
}

li a:hover {
    color: purple;
}

nav {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

ol li a {
    color: black;
    text-decoration: none;
}

aside {
    size: 2em;
}

aside>img {
    float: left;
}

aside ol h2 li {
    list-style-type: none
}

aside ol h2 li {
    padding-left:
}

aside img {
    padding-bottom: 20px;
}

footer {
    background-color: tan;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Roboto Slab'
}